 <div class="col-lg-6">
                <article class="entry thumb thumb--size-1">
                  <div class="entry__img-holder thumb__img-holder" style="background-image: url('https://thuonggiavietnam.net/template/plugins/timthumb.php?src=http://getdata.iccglobal.net/getdata/image_data/692a0e5a62af016380802694aaa6a4830.jpg&w=303&h=197&q=80');">
                    <div class="bottom-gradient"></div>
                    <div class="thumb-text-holder thumb-text-holder--4">
                      <h2 class="thumb-entry-title">
                        <a href="chien-dich-dieu-binh-thuong-tiep-theo-cua-unesco-a3669.html" alt="Chiến dịch 'Điều bình thường tiếp theo' của UNESCO" title="Chiến dịch 'Điều bình thường tiếp theo' của UNESCO">Chiến dịch 'Điều bình thường tiếp theo' của UNESCO</a>
                      </h2>
                    </div>
                    <a href="chien-dich-dieu-binh-thuong-tiep-theo-cua-unesco-a3669.html" class="thumb-url"></a>
                  </div>
                </article>
              </div>